.main {
  width: 'max-content';
}

.cell {
  width: 80px;
  padding: 4px;
  margin: 0;
  height: 25px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px solid #cacaca;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
  font-family: "Calibri, 'Segoe UI', Thonburi, Arial, Verdana, sans- serif";
}

.header {
  background-color: #a6a6a6;
  border: 1px solid black; 
}

.selected {
  border: 1px dashed blue;
}

.table-creator {
  margin: 20px;
}

.table-creator > input,
.table-creator > button {
  margin: 5px;
}

.table {
  margin: 20px;
}

.btn {
  background-color: lightgreen;
}

.remove-btn {
  margin-left: 10px;
}
